@model IEnumerable<Shop_Clothes_Demo.Models.SanPham>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutOverView.cshtml";
}

<div class="product">
    <h1>Result</h1>
    <p>Intro / Search</p>
</div>

@foreach (var item in Model)
{

    <div class="col-md-4">
        
        <a href="@Url.Action("Details","SanPham", new { MaSanPham = item.MaSanPham })"></a>
        <div class="product2">
            <a href="@Url.Action("Details","SanPham", new { MaSanPham = item.MaSanPham })">
                <div class="img3"> <img src="@Url.Content("~/Content/SanPham/"+item.HinhAnh+".jpg")"> </div>
            </a><div class="text2">
                <a href="@Url.Action("Details","SanPham", new { MaSanPham = item.MaSanPham })"> </a><a href="@Url.Action("Details","SanPham", new { MaSanPham = item.MaSanPham })"><h5>@item.TenSanPham</h5></a>
                <h3>@item.DonGia đ</h3>
                <h4>Đã bán: @item.SoLuongMua</h4>
                @*<a href="@Url.Action("ThemGioHang", "GioHang", new { @MaSanPham = item.MaSanPham, @strURL= Request.Url.ToString()})"><button class="button1 button2">Thêm vào giỏ</button> </a>*@

            </div>
        </div>

    </div>
}

