@using PagedList.Mvc
@model PagedList.IPagedList<Shop_Clothes_Demo.Models.NhomMua>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

@using (Html.BeginForm("GetKey", "NhomMua", FormMethod.Post, new { @class = "input" }))
{
    <div class=" form-group">
        <div class="col-md-10">
            <input type="text" placeholder="Tìm Kiếm..." class="form-control" name="tukhoa">
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm Kiếm" class="btn btn-info" />
        </div>
    </div>
}
<br />
<br />
<br />

<p>
    @Html.ActionLink("Quay Lại", "Index", null, new { @class = "btn btn-primary" })
</p>
<br />
<table class="table">
    <tr style="background-color:aquamarine">
        <th>
            Tên Nhóm
        </th>
        <th width="140"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhom)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { MaNhom = item.MaNhom }, new { @class = "btn btn-success" })
                <button id="btnXoa_@item.MaNhom" class="btn btn-danger">Xóa</button>
                <link rel="stylesheet" href="~/Content/Login/css/style.css" type="text/css" media="all" />
                <div id="@item.MaNhom" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); z-index: 999; display: none;">
                    @using (Html.BeginForm("Delete", "NhomMua", new { @mn = item.MaNhom }))
                    {
                        <section class="w3l-login">
                            <div class="overlay">
                                <div class="wrapper">
                                    <div class="form-section">
                                        <div style="clear:both; text-align:right; margin-bottom:0;">
                                            <span id="Dong_@item.MaNhom" class="btn btn-success">X</span>
                                            <br />
                                        </div>
                                        <h4>Bạn có muốn xóa: @item.TenNhom</h4>
                                        <button type="submit" class="btn btn-primary theme-button mt-2" style="background-color:red">Xóa</button>
                                    </div>
                                </div>
                            </div>
                            <div id='stars'></div>
                            <div id='stars2'></div>
                            <div id='stars3'></div>

                        </section>
                    }
                </div>
            </td>
        </tr>
        <script type="text/javascript">
                    $("#btnXoa_@item.MaNhom").click(function () {
                        $("#@item.MaNhom").show();
                    })
                    $("#Dong_@item.MaNhom").click(function () {
                        //$("#popup_login").css("display", "block");
                        $("#@item.MaNhom").hide();
                    })
        </script>
    }

</table>
<div class="dlink">
    <center>
        Trang @(Model.PageCount<Model.PageNumber ? 0:Model.PageNumber)/@Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("NhomMua", new { page = page }))
    </center>
</div>

