@using PagedList.Mvc
@model PagedList.IPagedList<Shop_Clothes_Demo.Models.DTO.SanPhamDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Sản Phẩm</h2>
<br />
<p>
    @Html.ActionLink("Thêm Sản Phẩm", "AddProduct", null, new { @class = "btn btn-success" })
</p>
<br />
<table class="table" border="1">
    <tr style="background-color:aquamarine">
        <th>
            Tên Sản Phẩm
        </th>
        <th>
            Đơn Giá
        </th>
        <th>
            Ngày Thêm
        </th>
        <th>
            Hình Ảnh
        </th>
        <th>
            Số Lượng Tồn
        </th>
        <th>
            Nhà Sản Xuất
        </th>
        <th>
            Loại Sản Phẩm
        </th>
        <th>
            Nhóm Mua
        </th>
        <th width="230"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.HinhAnh)*@
                <img src="@Url.Content("~/Content/SanPham/"+item.HinhAnh)" width="100" height="120" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhaSanXuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoaiSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhom)

            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { MaSanPham = item.MaSanPham }, new { @class = "btn btn-success" })
                @Html.ActionLink("Chi Tiết", "Details", new { MaSanPham = item.MaSanPham }, new { @class = "btn btn-success" })
                @*@Html.ActionLink("Xóa", "Delete", new { id = item.MaSanPham }, new { @class = "btnXoa" })*@
                <button id="btnXoa_@item.MaSanPham" class="btn btn-danger">Xóa</button>
                <link rel="stylesheet" href="~/Content/Login/css/style.css" type="text/css" media="all" />
                <div id="@item.MaSanPham" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); z-index: 999; display: none;">
                    @using (Html.BeginForm("Delete", "Dashboard", new { @masp = item.MaSanPham }))
                    {
                        <section class="w3l-login">
                            <div class="overlay">
                                <div class="wrapper">
                                    <div class="form-section">
                                        <div style="clear:both; text-align:right; margin-bottom:0;">
                                            <span id="Dong_@item.MaSanPham" class="btn btn-success">X</span>
                                            <br />
                                        </div>
                                        <h4>Bạn có muốn xóa: @item.TenSanPham</h4>
                                        <button type="submit" class="btn btn-primary theme-button mt-2" style="background-color:red">Xóa</button>
                                    </div>
                                </div>
                            </div>
                            <div id='stars'></div>
                            <div id='stars2'></div>
                            <div id='stars3'></div>

                        </section>
                    }
                </div>
            </td>
        </tr>
        <script type="text/javascript">
                    $("#btnXoa_@item.MaSanPham").click(function () {
                        $("#@item.MaSanPham").show();
                    })
                    $("#Dong_@item.MaSanPham").click(function () {
                        //$("#popup_login").css("display", "block");
                        $("#@item.MaSanPham").hide();
                    })
        </script>
    }

</table>
<div class="dlink">
    <center>
        Trang @(Model.PageCount<Model.PageNumber ? 0:Model.PageNumber)/@Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </center>
</div>


