@using PagedList.Mvc
@model PagedList.IPagedList<Shop_Clothes_Demo.Models.NhaSanXuat>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

@using (Html.BeginForm("GetKey", "NhaSanXuat", FormMethod.Post, new { @class = "input" }))
{
    <div class=" form-group">
        <div class="col-md-10">
            <input type="text" placeholder="Tìm Kiếm..." class="form-control" name="tukhoa">
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm Kiếm" class="btn btn-info" />
        </div>
    </div>
}
<br />
<br />
<br />

<p>
    @Html.ActionLink("Thêm Loại Sản Phẩm", "Add", null, new { @class = "btn btn-success" })
</p>
<br />
<table class="table" border="1">
    <tr style="background-color:aquamarine">
        <th>
            Tên Nhà Sản Xuất
        </th>
        <th>
            Thông Tin
        </th>
        <th>
            LoGo
        </th>
        <th width="230"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhaSanXuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThongTin)
            </td>
            <td>
                <img src="@Url.Content("~/Content/NhaSanXuat/"+item.Logo)" width="100" height="120" />
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { MaNhaSanXuat = item.MaNhaSanXuat }, new { @class = "btn btn-success" })
                @Html.ActionLink("Chi Tiết", "Details", new { MaNhaSanXuat = item.MaNhaSanXuat }, new { @class = "btn btn-success" })
                <button id="btnXoa_@item.MaNhaSanXuat" class="btn btn-danger">Xóa</button>
                <link rel="stylesheet" href="~/Content/Login/css/style.css" type="text/css" media="all" />
                <div id="@item.MaNhaSanXuat" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); z-index: 999; display: none;">
                    @using (Html.BeginForm("Delete", "NhaSanXuat", new { @mansx = item.MaNhaSanXuat }))
                    {
                        <section class="w3l-login">
                            <div class="overlay">
                                <div class="wrapper">
                                    <div class="form-section">
                                        <div style="clear:both; text-align:right; margin-bottom:0;">
                                            <span id="Dong_@item.MaNhaSanXuat" class="btn btn-success">X</span>
                                            <br />
                                        </div>
                                        <h4>Bạn có muốn xóa: @item.TenNhaSanXuat</h4>
                                        <button type="submit" class="btn btn-primary theme-button mt-2" style="background-color:red">Xóa</button>
                                    </div>
                                </div>
                            </div>
                            <div id='stars'></div>
                            <div id='stars2'></div>
                            <div id='stars3'></div>

                        </section>
                    }
                </div>
            </td>
        </tr>
        <script type="text/javascript">
                    $("#btnXoa_@item.MaNhaSanXuat").click(function () {
                        $("#@item.MaNhaSanXuat").show();
                    })
                    $("#Dong_@item.MaNhaSanXuat").click(function () {
                        //$("#popup_login").css("display", "block");
                        $("#@item.MaNhaSanXuat").hide();
                    })
        </script>
    }

</table>
<div class="dlink">
    <center>
        Trang @(Model.PageCount<Model.PageNumber ? 0:Model.PageNumber)/@Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </center>
</div>

