@using PagedList.Mvc
@model PagedList.IPagedList<Shop_Clothes_Demo.Models.LoaiThanhVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

@using (Html.BeginForm("GetKey", "LoaiThanhVien", FormMethod.Post, new { @class = "input" }))
{
    <div class=" form-group">
        <div class="col-md-10">
            <input type="text" placeholder="Tìm Kiếm..." class="form-control" name="tukhoa">
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm Kiếm" class="btn btn-info" />
        </div>
    </div>
}
<br />
<br />
<p>
    @Html.ActionLink("Quay Lại", "Index", null, new { @class = "btn btn-primary" })
</p>
<br />
<div class="col-md-6">
    <h2>Nhóm Mua</h2><br />
    <table class="table">
        <tr>
            <th>
                Tên Loại
            </th>
            <th>
                Ưu Đãi
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLoaiThanhVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UuDai)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.MaLoaiThanhVien }, new { @class = "btn btn-success" })
                    <button id="btnXoa_@item.MaLoaiThanhVien" class="btn btn-danger">Xóa</button>
                    <link rel="stylesheet" href="~/Content/Login/css/style.css" type="text/css" media="all" />
                    <div id="@item.MaLoaiThanhVien" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); z-index: 999; display: none;">
                        @using (Html.BeginForm("Delete", "LoaiThanhVien", new { @ltv = item.MaLoaiThanhVien }))
                        {
                            <section class="w3l-login">
                                <div class="overlay">
                                    <div class="wrapper">
                                        <div class="form-section">
                                            <div style="clear:both; text-align:right; margin-bottom:0;">
                                                <span id="Dong_@item.MaLoaiThanhVien" class="btn btn-success">X</span>
                                                <br />
                                            </div>
                                            <h4>Bạn có muốn xóa: @item.TenLoaiThanhVien</h4>
                                            <button type="submit" class="btn btn-primary theme-button mt-2" style="background-color:red">Xóa</button>
                                        </div>
                                    </div>
                                </div>
                                <div id='stars'></div>
                                <div id='stars2'></div>
                                <div id='stars3'></div>

                            </section>
                        }
                    </div>
                </td>
            </tr>
            <script type="text/javascript">
                    $("#btnXoa_@item.MaLoaiThanhVien").click(function () {
                        $("#@item.MaLoaiThanhVien").show();
                    })
                    $("#Dong_@item.MaLoaiThanhVien").click(function () {
                        //$("#popup_login").css("display", "block");
                        $("#@item.MaLoaiThanhVien").hide();
                    })
            </script>
        }

    </table>
    <div class="dlink">
        <center>
            Trang @(Model.PageCount<Model.PageNumber ? 0:Model.PageNumber)/@Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        </center>
    </div>
</div>
<div class="col-md-6">
    <h2>Thêm Mới</h2><br />
    @using (Html.BeginForm("Add", "LoaiThanhVien", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                <span class="control-label col-md-2">Tên Nhóm</span>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="TenLoaiThanhVien">
                    <span style="color:red">@Html.Raw(Session["Ltv"] as string)</span>
                </div>
                <br />
                <span class="control-label col-md-2">Ưu Đãi</span>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="UuDai">
                    <span style="color:red">@Html.Raw(Session["Ltv"] as string)</span>
                    <br />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>
